*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
}


h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
}

h6 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/* -------------- navbar -----------*/

#navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
    background: linear-gradient(45deg,#c7c9d9,#1878a1,#033f83);
    padding: 5px 50px;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 20;
}
#navbar .logo {
    width: 13rem;
    height: 7rem;
}
#navbar .sports-icon{
    width: 17rem;
    height: 5rem;
}

#navbar .navigations {
    justify-content: center;
    display: flex;
}
#navbar .navigations .menu-navs {
    display: flex;
    flex-direction: row;
    list-style: none;
}
#navbar .navigations .menu-navs li{
    margin: 0 0.5rem;
    width: 5.5rem;
    height: 2rem;
    background: #66b4f5;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}
#navbar .navigations .menu-navs li:hover {
    width: 5.45rem;
    height: 1.95rem;
    background: #11cea2;
    transition: 0.5s ease-out;
}
#navbar .navigations .menu-navs li a {
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 400;
    color: #050505;
    font-size: 16px;
}

#navbar .navigations-toggler {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 50%;
    height: 2.35rem;
    width: 2.65rem;
    padding: 7px 8.7px;
}
#navbar .toggler-link {
    display: none;
}
#navbar .navigations-toggler span {
    width: 1.6rem;
    height: 0.2rem;
    border-radius: 5px;
    background-color: #efefef;
    margin-bottom: 0.3rem;
}
#navbar .navigations .menu-navs .home{
    position: relative;
}
#navbar .navigations .menu-navs .home::after{
    content: '';
    background: linear-gradient(45deg, #2436d4, #d60acc);
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    position: absolute;
    top: 0.7rem;
    right: 0.5rem;
}
#navbar .toggle{
    display: none;
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 12rem;
    height: 17rem;
    background-color: #ffff;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #48e3b9;
    border-radius: 20px;
    padding: 25px 50px;
}
#navbar .toggle h3{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #cbc2c2;
}
#navbar .toggle ul{
    list-style: none;
}
#navbar .toggle ul li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.8rem;
}
#navbar .toggle ul li a{
    display: block;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    position: relative;
}
#navbar .toggle ul li .home::after{
    content: '';
    background: linear-gradient(45deg,#0d199b,#9909a7);
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.25rem;
    margin-left: 0.1rem;
    border-radius: 50%;
}
@media (max-width: 1000px) {
    #navbar .navigations {
        display: none;
    }
    #navbar .toggler-link{
        display: flex;
    }
    #navbar .toggle.active{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 620px) {
    #navbar .sports-icon {
        width: 410px;
        height: 90px;
        margin-left: -2rem;
        margin-right: 1rem;
    }
    #navbar .logo {
        margin-left: -3rem;
    }
}

/* -----------  intro ---------- */

#intro {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 100%;
    padding: 30px 70px;
    background-image: url(../../icons/jogging1.png);
    background-repeat: no-repeat;
    background-position: top 0 right 5rem;
    background-size: 27rem 24rem;
    margin-top: 6rem;
    position: relative;
}
#intro h1{
    font-size: 45px;
    margin-bottom: 1rem;
    color: #065c48;
}
#intro h4 {
    line-height: 1.2;
    font-size: 18px;
    margin-bottom: 1rem;
    color: #000000;
}
#intro p{
    margin-top: 0.7rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #041712;
}
@media (max-width: 1275px) {
    #intro{
        min-width: 1275px;
    }
}
#intro .circle1 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #1e997c;
    opacity: 0.3;
    position: absolute;
    top: 5rem;
    left: 20%;
}
#intro .circle2 {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #03293e;
    opacity: 0.4;
    position: absolute;
    top: 15rem;
    left: 38%;
}
#intro .circle3 {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: #ce1111;
    opacity: 0.3;
    position: absolute;
    top: 8rem;
    left: 5%;
}
#intro .circle4 {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #09ba4d;
    opacity: 0.3;
    position: absolute;
    top: 1.5rem;
    left: 50%;
}
#intro .circle5 {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: #159109;
    opacity: 0.3;
    position: absolute;
    top: 4.5rem;
    left: 54%;
}
#intro .circle6 {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: #0b4366;
    opacity: 0.5;
    position: absolute;
    top: 18rem;
    left: 20%;
}

/* ---------------- advice1 ------------- */

#advice1 {
    width: 100%;
    height: 40rem;
    padding: 20px 70px;
    position: relative;
}
#advice1 .session {
    display: none;
    width: 50rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg,#070a0a,#053629);
    border-radius: 20px;
    padding: 10px 30px;
    position: relative;
    z-index: 7;
    box-shadow: 30px 40px 30px rgba(0, 0, 0, 0.5);
}

#advice1 .session.anim-session1 {
    display: flex;
    animation: session1 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes session1 {
    0% {left: -20rem; opacity: 0.5;}
    100% {left: 0; opacity: 1;}
}
#advice1 .session .jogging-1.anim-jogging1{
    display: flex;
    animation: jogging1 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes jogging1 {
    0% {right: -30rem; opacity: 0.7; transform: translateY(-4rem);}
    100% {right: -15rem; opacity: 1; transform: translateY(0);}
}
#advice1 .session .description .description-title1.anim-title1{
    display: flex;
    animation: title1 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes title1 {
    0% {left: 10rem; opacity: 0.8;}
    100% {left: 0; opacity: 1;}
}
#advice1 .session .description .description-content1.anim-content1{
    display: flex;
    animation: content1 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes content1 {
    0% {bottom: -5rem; opacity: 0.8; transform: translateX(5rem);}
    100% {bottom: 0; opacity: 1; transform: translateX(0);}
}
#advice1 .session .description .btn1.anim-btn1{
    display: flex;
    animation: btn1 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes btn1 {
    0% {left: -5rem; opacity: 0.5; transform: translateY(-5rem);}
    100% {left: 0; opacity: 1; transform: translateY(0);}
}
#advice1 .advice1-circle1.anim-circle1{
    display: flex;
    animation: circle1 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes circle1 {
    0% {right: -10rem; opacity: 1;}
    100% {right: 15rem;}
}
#advice1 .advice1-circle2.anim-circle2{
    display: flex;
    animation: circle2 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes circle2 {
    0% {top: -5rem;right: 2rem;opacity: 0.3;}
    25% {top: -5rem; right: 10rem; opacity: 0.4;}
    50% {top: 10rem; right: 10rem; opacity: 0.5;}
    75% {top: 19rem; right: 10rem; opacity: 0.6;}
    100% {top: 19rem; right: 6.5rem;}
}
#advice1 .advice1-circle3.anim-circle3{
    display: flex;
    animation: circle3 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes circle3 {
    0% {left: 0;opacity: 0.6;}
    100% {left: 39rem;}
}

#advice1 .session .jogging-1 {
    display: none;
    width: 25rem;
    height: 15rem;
    border-radius: 20px;
    position: absolute;
    right: -8rem;
    top: 9rem;
    z-index: 7;
}
#advice1 .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 45px;
    position: relative;
}
#advice1 .title::after{
    content: '';
    width: 10rem;
    height: 0.3rem;
    background: linear-gradient(35deg,#0e9ea3,#164aba);
    margin-top: 1rem;
}
#advice1 p{
    text-align: center;
    color: #042c13;
    margin-bottom: 3rem;
}
#advice1 .session .description .description-title1{
    display: none;
    color: #e0dada;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
    position: relative;
    font-weight: 400;
    font-size: 23px;
}
#advice1 .session .description .description-title1::before{
    content: '';
    width: 0.3rem;
    height: 3.7rem;
    position: absolute;
    background: linear-gradient(35deg,#136ecf,#1dae85);
    top: 0.1rem;
    left: 0.5rem;
    border-radius: 10px;
}
#advice1 .session .description .description-content1{
    display: none;
    color: #fffffff4;
    padding: 20px 50px;
    font-size: 18px;
    font-weight: 200;
}
#advice1 .session .description .btn{
    display: none;
    width: 8rem;
    height: 2.6rem;
    background: #0db180;
    margin-left: 1rem;
    border-radius: 7px;
    padding: 7px 16px;
}
#advice1 .session .description .btn a{
    text-decoration: none;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}
#advice1 .circle1{
    display: none;
    width: 15rem;
    height: 15rem;
    background: linear-gradient(32deg,#116f74,#14347b);
    position: absolute;
    right: 15rem;
    top: 8rem;
    border-radius: 50%;
    z-index: 5;
    opacity: 0.7;
}
#advice1 .circle2{
    display: none;
    width: 6rem;
    height: 6rem;
    background: linear-gradient(32deg,#2462e7,#990fac);
    position: absolute;
    right: 6rem;
    top: 18rem;
    border-radius: 50%;
    z-index: 5;
    opacity: 0.7;
}
#advice1 .circle3{
    display: none;
    width: 7rem;
    height: 7rem;
    background: linear-gradient(32deg,#065d88,#099410);
    position: absolute;
    right: 17rem;
    top: 27rem;
    border-radius: 50%;
    z-index: 5;
    opacity: 0.7;
}
@media (min-width: 1281px) {
    #advice1 .session {
        width: 62rem;
        height: 20rem;
    }
    #advice1 .session .jogging-1 {
        width: 34rem;
        height: 20rem;
    }
    #advice1{
        height: 50rem;
    }
}
@media (max-width: 1275px) {
    #advice1{
        width: 1275px;
    }
}
@media (min-width: 1602px) {
    #advice1 .session{
        width: 73rem;
        height: 20rem;
    }
    #advice1 .session .jogging-1 {
        width: 37rem;
        height: 23rem;
    }
}

/*---------------- commentaries ------------- */

#commentaries{
    height: 30rem;
    width: 100%;
    position: relative;
    padding: 20px 70px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#commentaries .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #01231a;
    font-size: 30px;
    margin-bottom: 1rem;
}
#commentaries .title::after{
    content: '';
    width: 7rem;
    height: 0.3rem;
    background: linear-gradient(45deg,#0ed28d,#1072aa);
    border-radius: 10px;
    margin-top: 0.4rem;
}
#commentaries h5{
    text-align: center;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2rem;
}
#commentaries .comments{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px 20px;
    gap: 1rem;
}
#commentaries .comments img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #0a81c1;
}
#commentaries .comments .comment .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
#commentaries .comments .comment {
    background: transparent;
    border-radius: 20px;
    border: 1px solid #0b627c;
    padding: 15px 15px;
    box-shadow: 12px 17px 12px rgba(0, 0, 0, 0.1);
}
#commentaries .comments .comment p{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 370;
    margin-top: 0.7rem;
}
@media (max-width: 1250px) {
    #commentaries{
        width: 1250px;
    }
}

/* ------------------- footer ----------------- */

#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27rem;
    padding: 40px 70px;
    margin-top: 1rem;
    background: linear-gradient(35deg,#055f2c,#09448d);
}
#footer .btn{
    align-self: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    background: linear-gradient(35deg,#093285,#aa079f);
    height: 2.7rem;
    width: 16rem;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}
#footer .btn:hover, #footer .btn:active{
    background: linear-gradient(35deg,#aa079f,#093285);
}
#footer .btn a{
    text-decoration: none;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
#footer .informations{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1.7rem;
    margin-bottom: 10px;
}
#footer .informations .info h3{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 1rem;
    color: rgb(255, 252, 252);
}
#footer .informations .info h3::before{
    content: '';
    width: 0.3rem;
    height: 2.5rem;
    position: absolute;
    left: -0.9rem;
    top: -0.3rem;
    background: linear-gradient(35deg,#08138f,#b00786);
    border-radius: 10px;
}
#footer .informations .info p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #fff;
}
#footer .contacts .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: rgb(230, 227, 227);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.3rem;
}
#footer .contacts .title::after{
    content: '';
    width: 7rem;
    height: 0.3rem;
    background: linear-gradient(45deg,#bf966d,#7a6831);
    border-radius: 10px;
}
#footer .contacts p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    color: #fffffff4;
    text-align: center;
}
#footer .contacts .access{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
    gap: 1rem;
}
#footer .contacts .access h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}
#footer .contacts .access h3 a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(197, 197, 197);
}
@media (max-width: 1275px) {
    #footer {
        width: 1275px;
    }
}

::-webkit-scrollbar{
    display: none;
}
#footer .informations .info .rating {
    margin-top: 1.4rem;
    margin-left: 1rem;
}
#footer .informations .info .rating i{
    margin-left: 0.3rem;
    cursor: pointer;
}
